
.app-index {
    .section1 {
        .introduct {
            p {
                font-size: 10vw;
                font-weight: bold;
            }
            span:first-of-type {
                font-size: 35px;
            }
            span:nth-of-type(2) {
                font-weight: bold;
            }
        }
    }

    .section2 {
        min-height: 100vh;
        padding-bottom: 10vh;
        background-image: url('../../images/section2-bg.png');
        background-size: cover;
        .block {
            color: #f2f2f2;
            padding-top: 21vh;
            .introduct {
                .dash {
                    display: inline-block;
                    width: 35px;
                    height: 8px;
                    background: #f2f2f2;
                    border-radius: 30px;
                    margin-bottom: 3.5px;
                    margin-right: 4px;
                }
                span:nth-of-type(2), span:nth-of-type(2) b {
                    font-size: 20px;
                    letter-spacing: 4px;
                }
                p {
                    font-size: 6vw;
                    font-weight: bolder;
                    line-height: 1.1;
                }
                .content {
                    float: right;
                    width: 55%;
                    clear: both;
                    .col {
                        display: inline-block;
                        span {
                            font-size: 2.5vh;
                            display: inline-block;
                            text-indent: 5vw;
                            padding-bottom: 5vh;
                        }
                    }
                }
                .clearfix:after {
                    clear: both;
                    content: ".";
                    display: block;
                    height: 0;
                    visibility: hidden;
                }
                .clearfix {
                    display: inline-block;
                }
                .clearfix {
                    display: block;
                }
            }
        }
    }
    .section3 {
        .block {
            .block-title {
                font-size: 35px;
                font-weight: bolder;
            }
            .sponsor-big {
                .circle {
                    border-radius: 50%;
                    background: #ccc;
                    height: 35vh;
                    margin: 5vh;
                }
            }
            .sponsor-small {
                .circle {
                    border-radius: 50%;
                    background: #ccc;
                    height: 19vh;
                    margin: 3vh;
                }
            }
        }
    }
    .section4 {
        min-height: 100vh;
        padding-bottom: 10vh;
        background-image: url('../../images/section4-bg.png');
        background-size: cover;
        .block {
            color: #000;
            padding-top: 21vh;
            .introduct {
                .dash {
                    display: inline-block;
                    width: 35px;
                    height: 8px;
                    background: #000;
                    border-radius: 30px;
                    margin-bottom: 3.5px;
                    margin-right: 4px;
                }
                span:nth-of-type(2), span:nth-of-type(2) b {
                    font-size: 20px;
                    letter-spacing: 4px;
                }
                p {
                    font-size: 6vw;
                    font-weight: bolder;
                    line-height: 1.1;
                }
                .content {
                    float: left;
                    width: 55%;
                    clear: both;
                    .col {
                        display: inline-block;
                        span.text {
                                font-size: 2.5vh;
                                display: inline-block;
                                text-indent: 5vw;
                                padding-bottom: 5vh;
                        }
                    }
                }
            }
        }
    }
}








.space {
    padding: 9vh 16vw;
}
@media screen and (max-width: 960px) {
    .space {
        padding: 9vh 5vw !important;
    }
    .app-index {
        .section2, .section4 {
            .block {
                padding-top: 20vh !important;
                .content {
                    width: 100% !important;
                }
            }
        }
    }  
}
@media screen and (min-width: 960px) and (max-width: 1140px) {
    .space {
        padding: 9vh 5vw !important;
    }
    .app-index {
        .section2, .section4 {
            .block {
                padding-top: 21vh !important;
                .content {
                    width: 100% !important;
                }
            }
        }
    } 
}